a {
  color:#000;
  text-decoration:none;
}
header {
  text-align:center;
}
header h1 {
  padding:25px  ; 
}
p img{
width:100%;
#contents{
text-align:center;
}
#information{
padding:20px;
}
}
nav{
text-align:center;
}
#contents{
text-align:center;
}
article h3 {
padding:20px;
}
#information{
padding:20px;
}
#information img{
width:100%;
}
#pagetopBtn{
position:fixed;
bottom:0px;
right:0px;
}
#footer p, small{
text-align:center;
font-size:5px;
}

@media only screen and (min-width:481px){


nav ul li {
  float: left;
  width: 50%;   /*調到50%發現又變回來 ，因為我們上面nav li 設定了一個右側的border 1px*/
  border-bottom: 2px solid #000;
}
#work article{
float:left;
width:50%;
}
}

@media only screen and (min-width:961px){
nav ul li {
  width: calc(98%/6); 
}

header h1{
float:left;
}
header img{
float:left;
margin-right:5px;
}
header li{
float:left;
margin-right:5px;
}
header ul{
float:right;
margin-top:25px;
}
#work article{
float:left;
width:20%;
}

header ul{
width:30%;
margin-right:-100px;
}

#news{
width:40%;
position:absolute;

}
#information{
width:40%;
float:right;
}
}





